[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/arrrgh"]
	path = lib/arrrgh
	url = https://github.com/ElectricToy/arrrgh
[submodule "lib/cuda-samples"]
	path = lib/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples
[submodule "lib/tinygltf"]
	path = lib/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "lib/miniball"]
	path = lib/miniball
	url = https://github.com/hbf/miniball
[submodule "lib/JoltPhysics"]
	path = lib/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics
[submodule "lib/v-hacd"]
	path = lib/v-hacd
	url = https://github.com/kmammou/v-hacd
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = glad2
[submodule "lib/pmp-library"]
	path = lib/pmp-library
	url = https://github.com/pmp-library/pmp-library
